@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap");

.MuiToolbar-regular {
    min-height: 48px !important;
}

.aqwedfrq {
    margin: 0 0px auto;
    width: 100%;
    background: transparent;
    border: 0px solid #fff;
    padding: 0.3rem 10px;
    border-radius: 4px;
}

.detail {
    margin-top: 70px;
    font-size: 40px;
    font-family: "Bowlby One", cursive;
}
